<h2>Second Component </h2>

<br>
<button (click)="getdata()">Get Data From First Component From Browser Storage</button> &nbsp;

<button (click)="deletedata()">Delete Specific Data From Local Storage </button>&nbsp;

<button (click)="cleardata()">Clear All Data From Local Storage</button> &nbsp;


<button (click)="clearsessiondata()">Session Data Delete</button>
&nbsp;

<button (click)="getlen()">Get Local Storage Length</button>

&nbsp;

<button (click)="getalldata()">Get All Data Local Storage</button>

<br><br>

<button (click)="getCookie()">Get Cookie From First Component</button>
&nbsp;
<button (click)="chkCookie()">Check Cookie</button>
&nbsp;
<button (click)="delCookie()">Delete Cookie</button>
&nbsp;
<button (click)="getAllCookie()">Get All Cookie</button>
&nbsp;
<button (click)="deleteAll()">Delete All Cookie</button>

